I made new database in my postgre sql server 'dvdrental' and in that database i have 15 tables , now i am going to make a data warehouse, where i will take important parameters from tables that are necessary for further analysis and contributing to the business.

In [46]:
import psycopg2



host = "localhost"  
port = "5432"       
dbname = "dvdrental"
user = "postgres"
password = "akdataeng"


create_table_query = """
CREATE TABLE dimDate (
    date_key integer PRIMARY KEY,
    date date NOT NULL,
    year smallint NOT NULL,
    quarter smallint NOT NULL,
    month smallint NOT NULL,
    day smallint NOT NULL,
    week smallint NOT NULL,
    is_weekend boolean
);

"""
    
connection = psycopg2.connect(
    host=host,
    port=port,
    dbname=dbname,
    user=user,
    password=password
)
    
cursor = connection.cursor()
    

cursor.execute(create_table_query)

connection.commit()
print('created successfully')

created successfully

In [23]:
create_table_dimcustomer = """
CREATE TABLE dimCustomer (
    customer_key SERIAL PRIMARY KEY,
    customer_id smallint NOT NULL,
    first_name VARCHAR(45) NOT NULL,
    last_name VARCHAR(45) NOT NULL,
    email VARCHAR(45) NOT NULL,
    address VARCHAR(50) NOT NULL,
    address2 VARCHAR(50) NOT NULL,
    district VARCHAR(45) NOT NULL,
    city VARCHAR(45) NOT NULL,
    country VARCHAR(45) NOT NULL,
    postal_code VARCHAR(45),
    phone VARCHAR(20) NOT NULL,
    active smallint NOT NULL,
    create_date timestamp NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL   
);
"""
cursor.execute(create_table_dimcustomer)

connection.commit()
print('created successfully')

created successfully

In [24]:
create_table_dimStore = """
CREATE TABLE dimStore (
    store_key SERIAL PRIMARY KEY,
    store_id smallint NOT NULL,
    address VARCHAR(50) NOT NULL,
    address2 VARCHAR(50) NOT NULL,
    district VARCHAR(45) NOT NULL,
    city VARCHAR(50) NOT NULL,
    country VARCHAR(50) NOT NULL,
    postal_code VARCHAR(45) NOT NULL,
    manager_firstname VARCHAR(45) NOT NULL,
    manager_lastname VARCHAR(45) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL 
);
"""
cursor.execute(create_table_dimStore)

connection.commit()
print('created successfully')

created successfully

In [32]:
host = "localhost"  
port = "5432"       
dbname = "dvdrental"
user = "postgres"
password = "akdataeng"

connection = psycopg2.connect(
    host=host,
    port=port,
    dbname=dbname,
    user=user,
    password=password
)
    
cursor = connection.cursor()

create_table_dimMovie = """
CREATE TABLE dimMovie (
    movie_key SERIAL PRIMARY KEY,
    film_id smallint NOT NULL,
    title VARCHAR(255) NOT NULL,
    description text NOT NULL,
    release_year year NOT NULL,
    language VARCHAR(50) NOT NULL,
    original_language VARCHAR(60) NOT NULL,
    rental_duration smallint NOT NULL,
    length smallint NOT NULL,
    rating VARCHAR(5) NOT NULL,
    special_feature VARCHAR(60) NOT NULL
);
"""
cursor.execute(create_table_dimMovie)

connection.commit()
print('created successfully')

created successfully

In [47]:


insert_query_dimDate = """
INSERT INTO dimDate (date_key,date,year,quarter,month,day,week,is_weekend)
SELECT
        DISTINCT(TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer) as date_key,
        date(payment_date) as date,
        EXTRACT(year from payment_date) as year,
        EXTRACT(quarter from payment_date) as quarter,
        EXTRACT(month from payment_date) as month,
        EXTRACT(day from payment_date) as day,
        EXTRACT(week from payment_date) as week,
        CASE WHEN EXTRACT(ISODOW FROM payment_date) IN (6,7) THEN True ELSE False END AS is_weekend
FROM payment;
"""

cursor.execute(insert_query_dimDate)
connection.commit()
print('inserted successfully')

inserted successfully

In [27]:
host = "localhost"  
port = "5432"       
dbname = "dvdrental"
user = "postgres"
password = "akdataeng"

connection = psycopg2.connect(
    host=host,
    port=port,
    dbname=dbname,
    user=user,
    password=password
)
    
cursor = connection.cursor()

insert_query_dimCustomer = """INSERT INTO dimCustomer (customer_key, customer_id, first_name, last_name, email, address, 
                         address2, district, city, country, postal_code, phone, active, 
                         create_date, start_date, end_date)
SELECT  c.customer_id as customer_key,
        c.customer_id,
        c.first_name,
        c.last_name,
        c.email,
        a.address,
        a.address2,
        a.district,
        ci.city,
        co.country,
        postal_code,
        a.phone,
        c.active,
        c.create_date,
       now()         AS start_date,
       now()         AS end_date
FROM customer c
JOIN address a  ON (c.address_id = a.address_id)
JOIN city ci    ON (a.city_id = ci.city_id)
JOIN country co ON (ci.country_id = co.country_id);
"""

cursor.execute(insert_query_dimCustomer)
connection.commit()
print('inserted successfully')

inserted successfully

In [28]:
connection.close()
cursor.close()

In [33]:
host = "localhost"  
port = "5432"       
dbname = "dvdrental"
user = "postgres"
password = "akdataeng"

connection = psycopg2.connect(
    host=host,
    port=port,
    dbname=dbname,
    user=user,
    password=password
)
    
cursor = connection.cursor()

insert_query_dimMovie = """INSERT INTO dimMovie (movie_key, film_id, title, description, release_year, language, original_language, rental_duration, length, rating, special_feature)
SELECT 
    f.film_id as movie_key,
    f.film_id,
    f.title, 
    f.description,
    f.release_year,
    l.name as language,
    orig_lang.name AS original_language,
    f.rental_duration,
    f.length,
    f.rating,
    f.special_features
FROM film f
JOIN language l              ON (f.language_id=l.language_id)
LEFT JOIN language orig_lang ON (f.language_id = orig_lang.language_id);
"""

cursor.execute(insert_query_dimMovie)
connection.commit()
print('inserted successfully')

inserted successfully

In [37]:
connection.close()
cursor.close()

In [43]:
host = "localhost"  
port = "5432"       
dbname = "dvdrental"
user = "postgres"
password = "akdataeng"

connection = psycopg2.connect(
    host=host,
    port=port,
    dbname=dbname,
    user=user,
    password=password
)
    
cursor = connection.cursor()

insert_query_dimStore = """INSERT INTO dimStore (store_key, store_id, address, address2, district, city, country, postal_code, manager_firstname, manager_lastname, start_date, end_date)
SELECT
    s.store_id as store_key,
    s.store_id,
    a.address,
    a.address2,
    a.district,
    c.city,
    co.country,
    a.postal_code,
    st.first_name as manager_first_name,
    st.last_name  as manager_last_name,
    now() as start_date,
    now() as end_date
FROM store s
JOIN staff st     ON    (s.manager_staff_id = st.staff_id)
JOIN address a    ON    (s.address_id = a.address_id)
JOIN city c       ON    (a.city_id = c.city_id)
JOIN country co   ON    (c.country_id = co.country_id);
"""

cursor.execute("""ALTER TABLE dimstore ALTER COLUMN address2 DROP NOT NULL;
""")

cursor.execute(insert_query_dimStore)
connection.commit()
print('inserted successfully')

inserted successfully

In [48]:
create_factsales_query = """CREATE TABLE factSales
    (
        sales_key SERIAL PRIMARY KEY,
        date_key integer REFERENCES dimDate (date_key),
        customer_key integer REFERENCES dimCustomer (customer_key),
        movie_key integer REFERENCES dimMovie (movie_key),
        store_key integer REFERENCES dimStore (store_key),
        sales_amount numeric
    );
"""

insert_factsales_query = """INSERT INTO factSales (date_key, customer_key, movie_key, store_key, sales_amount)
SELECT 
        TO_CHAR(payment_date :: DATE, 'yyyyMMDD')::integer AS date_key,
        p.customer_id  as customer_key,
        i.film_id as movie_key,
        i.store_id as store_key,
        p.amount as sales_amount
FROM payment p 
JOIN rental r ON (p.rental_id = r.rental_id)
JOIN inventory i ON (r.inventory_id = i.inventory_id);
"""

cursor.execute(create_factsales_query)
cursor.execute(insert_factsales_query)
connection.commit()
print('Run Successfully')

Run Successfully

After this i run query for 3nf model and star schema model and schema model took less time to run. Currently i have less data if this data had been in Gbs or Tbs then there would have been much difference between both running time. My 3nf model took 2 seconds and 538 ms while star schema took 1 second 345 ms.